*{
    box-sizing: border-box;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:black;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color:antiquewhite;
    width: 100%;
}
[class*="col-"]{
    float:left;
    padding: 5px;
}
#wrapper{
    width: 95%;
}
.row::after{
    content:"";
    clear:both;
    display: table;
    margin-bottom: 10px;
    margin-top: 10px;
}
.col-12{
    width: 100%;
}
.col-7{
    width: 58.333%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-4{
    width:33.33%;
}
.col-3{
    width: 25%;
}
img{float:right;}
.Nav1{display:contents;}

@media screen and (max-width:1024px){
    .col-md-12{width:100%;}
    .col-md-6{width:50%;}
    .col-md-3{width:25%}
    .Intro,.Video{float:left;}
    .End,.Nav{float:right;}
    img{height:30%;}
    .Nav1{display: inline-block;}
}
@media screen and (max-width:768px){
    #wrapper{width:100%;}   
    .col-sm-12{width:100%;}
    .col-sm-7{width:58.33%;}
    .col-sm-5{width:41.66%;}
    .col-sm-4{width:33.33%;}
    .col-sm-3{width:25%;}
    .me{height:1000px;width: fit-content;}
    .Nav{float:left;}
}
@media screen and (max-width:320px){
    .col-xs-12{width:100%;}
    .header{display: inline;}
    img{height: 400px;float: right;}
    .me{height: 400px;}
    *{padding: none;margin:none;}
}