*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:ghostwhite;
}
body {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    border:1pt black solid;
    background-color: darkgray;
    padding: 20px;
    text-align: center;
}
#head1 {
    border:1pt black solid;
    width: 98%;
    height:10%;
    padding: 10px;
    background-color:darkturquoise;
}
header>nav {
    border:1pt black solid;
    background-color:paleturquoise;
    width: 95%;
    height: 5%;
    padding:10px;
}
#sec1 {
    border:1pt black solid;
    width: 30%;
    height:600px;
    padding: 10px;
    background-color:darkturquoise;
    float: left;
    margin: 1% auto;
}
#sec1>header {
    border:1pt black solid;
    background-color:paleturquoise;
    margin: 5% auto;
    width: 90%;
    height: 5%;
}
#sec1>nav {
    border:1pt black solid;
    background-color:paleturquoise;
    width: 80%;
    height: 440px;
    padding:10px;
    margin: 5% auto;
}
#sec1>footer {
    border:1pt black solid;
    background-color:paleturquoise;
    margin: 5% auto;
    width: 80%;
    height: 5%;
}
#sec2 {
    border:1pt black solid;
    width: 63%;
    height:85%;
    padding: 10px;
    background-color:darkturquoise;
    float: right;
    margin: 1% auto;
}
#sec2>header,footer {
    border:1pt black solid;
    background-color:paleturquoise;
    width: 95%;
    height: 5%;
    padding:10px;
}
#art1 {
    border:1pt black solid;
    background-color:paleturquoise;
    width: 95%;
    height: 5%;
    padding:10px;
    margin: 3% auto;
}
#art1>header,p,footer {
    border:1pt black solid;
    background-color: powderblue;
}
#art2 {
    border:1pt black solid;
    background-color:paleturquoise;
    width: 95%;
    height: 40%;
    padding:10px;
    margin: 3% auto;
}
#art2>header {
    border:1pt black solid;
    background-color: powderblue;
}
#art2>p{
    border:1pt black solid;
    float: left;
    height: 120px;
    width: 290px;
    background-color: powderblue;
}
#art2>aside{
    border:1pt black solid;
    float: right;
    height: 100px;
    width: 100px;
    padding:10px;
    margin: 5% auto;
    background-color: powderblue;
}
#art2>footer {
    border:1pt black solid;
    clear: right;
    background-color: powderblue;
}
#footer {
    border:1pt black solid;
    width: 98%;
    height:10%;
    padding: 10px;
    background-color:darkturquoise;
    clear:right;
}